<div class="settings__container">
    <div class="settings__header">
        <button class="settings__button" (click)="onNoClick()"></button>  
    
        <h2 class="settings__title">Configuration</h2> 
    </div>
    
    <div class="settings__content">
        <div class="settings__input-container">
            <label class="settings__label" for="webhook-url">MS-Webhook-URL</label>
            <input class="settings__input" [(ngModel)]="webhook" type="text" name="webhook-url" id="webhook-url">
        </div>
    
        <div class="settings__input-container">
            <label class="settings__label" for="webhook-secret">Webhook Secret</label>
            <input class="settings__input" [(ngModel)]="webSecret" type="text" name="webhook-secret" id="webhook-secret">
        </div>
    </div>
    
    <div class="settings__check">
        <div class="settings__text">Webhook enabled</div>

        <input type="checkbox" id="checkbox" (change)="getCheck()">
    </div>
    
</div>